<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <img src="../../../assets/template/img/logo.559b7ec0.webp" class="logo">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="../../../assets/template/img/loginimag.png" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5"> 
                    <form class="form-horizontal" [formGroup]="restpassForm">
                        <span class="heading">modifier mot de passe</span>
                        
                        <div class="form-group help">
                            <input class="form-control" id="inputPassword" type="{{ showPassword ? 'text' : 'password' }}"  name="password" formControlName="password"  placeholder="Mot de passe" [ngClass]="{'is-invalid':submitted&&restpassForm.controls['password'].errors&&restpassForm.controls['cpassword'].errors}" required>
                            
                            <i class=" fa fa-lock"></i>
                            <span (click)="togglePasswordVisibility()">
                                <span [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></span>
                              </span>
                              <div *ngIf="restpassForm.get('cpassword')?.hasError('passwordMismatch')" class="alert alert-danger mt-1">
                                le mot de passe ne correspond pas.
                                </div> 
                                <div *ngIf="submitted && restpassForm.controls['password'].errors" class="alert alert-danger mt-1">
                                  mot de passe obligatoir et la taille doit être comprise entre 6 et 40.
                              </div>
                        </div>
                         
                        <div class="form-group help">
                            <input class="form-control" id="inputcPassword" type="{{ showcPassword ? 'text' : 'password' }}"  name="cpassword"  formControlName="cpassword"  placeholder="Confirmer mot de passe"[ngClass]="{'is-invalid':submitted&&restpassForm.controls['cpassword'].errors&&restpassForm.controls['cpassword'].errors}" required>
                            
                            <i class=" fa fa-lock"></i>
                            <span (click)="togglecPasswordVisibility()">
                                <span [class]="showcPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></span>
                                </span>
                                <div *ngIf="restpassForm.get('cpassword')?.hasError('passwordMismatch')" class="alert alert-danger mt-1">
                                    le mot de passe ne correspond pas.
                                </div>
                        </div>
                        <div class="alert alert-danger " role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" (click)="submit()">modifier</button>
                        </div>
                        
                         
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2023. All rights reserved at myserv.</small>
                
                
            </div>
        </div>
    </div>
</div>
