<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">gestion des Spécialités</h1>
  <div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">ajouter un Spécialité</h6> 
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="addSpecialte()">
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                  <label for="nom">Nom Spécialité</label>
                  <input type="text" class="form-control"  formControlName="nom"  placeholder="Spécialité" [ngClass]="{'is-invalid':submitted&&registrationForm.controls['nom'].errors}" required>
                  <div *ngIf="submitted && registrationForm.controls['nom'].errors" class="text-danger mt-1">
                    Nom Spécialité obligatoire
                  </div>
              </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-center ">
            <button type="submit" class="btn btn-primary btn1 " style="white-space: nowrap;">Enregistrer Spécialité</button>
          </div>
      </div>
      </form>
    </div>
  </div>
  <h1 class="h3 mb-2 text-gray-800">gestion des question TECH</h1>
  <div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">les Spécialités</h6> 
    </div>
    <div class="card-body">
    
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="nom"> les postes</label>
                <select class="custom-select" #posteSelect (change)="selectPoste(posteSelect.value)" >
                  <option selected disabled value="" >Choisissez le poste</option>
                  <option *ngFor="let specialite of listeSpecialite" [value]="specialite.id">{{specialite.nom}}</option>
              </select>
            </div>
        </div>
      </div> 
    
    </div>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Les question TECH</h6>
        <button type="button" class="button1 green" (click)="addnew()">
          <span class="text">ajouter</span>
          <span class="icon">
              <svg
              xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg" >
              <line y2="19" y1="5" x2="12" x1="12"></line>
              <line y2="12" y1="12" x2="19" x1="5"></line>
              </svg>
          </span>
        </button>
      </div>
      <div class="card-body">
        <div class="row"*ngFor="let row of myForm.controls.rows.controls; let i = index" [formGroupName]="i">
          <div class="col-md-10">
            Q {{ i + 1 }}
            <div class="form-group">
              
              <textarea class="form-control" cols="30" rows="3" placeholder="" [formControlName]="'textQuestion'">{{ myForm.get('rows').get(i.toString()).get('textQuestion').value }}</textarea>
            </div>
          </div>
          <div class="col-md-2 d-flex align-items-center">
              <button class="noselect" class="button1 red" data-toggle="modal" data-target="#deleteModal" (click)="setiddelete(i)" >
                  <span class="text">Delete</span>
                  <span class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                      </path>
                    </svg>
                  </span>
                </button>
          </div>
        </div>
      </div>
      <div class="card-footer text-center mt-4">
          <div class="col-lg-12">
              <button type="submit" class="btn btn-primary btn1" >Enregistrer</button>
          </div>
      </div>
    </div>
  </form>
  </div>
  <!-- Modal Delete -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="container d-flex pl-0"><img src="https://imgur.com/Kh1gwTq.png"><h5 class="modal-title ml-2" id="exampleModalLabel">Supprimer cet question?</h5></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-muted">Si vous supprimez cet question , il sera perdu pour toujours. Êtes-vous sûr de vouloir continuer ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteRow()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
