<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Suivi des entretien</h1>
   

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{typePost}}</h6>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table datatable  [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-bordered display"  width="100%" cellspacing="0">
                    <thead>   
                        <tr>
                            <th>Nom & Prenom</th>
                            <th>Email</th>
                            <th>date d'entretien</th>
                            <th>feedback</th>
                            <th>commentaire RH</th>
                            <th>Recruteur</th>
                            <th>voir Plus</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let candidate of listeCandidate">
                            <td>{{candidate.lastName}} {{candidate.firstName}}</td> 
                            <td>{{candidate.email}} </td>
                            <td *ngIf="candidate.listEntretien && candidate.listEntretien.length > 0">{{candidate.listEntretien[0].date}}</td>
                            <td *ngIf="!candidate.listEntretien || candidate.listEntretien.length === 0">No entretien</td>
                            <td><span class="badge badge-pill " [ngClass]="{
                                'badge-primary': candidate?.feedback?.nom === 'Validé RH',
                                'badge-danger': candidate?.feedback?.nom === 'Non validé RH' || candidate?.feedback?.nom === 'Non validé TECH',
                                'badge-success': candidate?.feedback?.nom === 'Recruté',
                                'badge-info': candidate?.feedback?.nom === 'Validé TECH',
                                'badge-secondary': candidate?.feedback?.nom ==='En coure',
                                'badge-light': candidate?.feedback?.nom ==='N\'a pas assisté'
                              }">{{candidate?.feedback?.nom}}</span></td>
                              <td *ngIf="candidate.listEntretien && candidate.listEntretien.length > 0">{{candidate.listEntretien[0].commentaire}}</td>
                              <td *ngIf="!candidate.listEntretien || candidate.listEntretien.length === 0">No entretien</td>
                             <td>{{candidate?.recruteur?.lastName}} {{candidate?.recruteur?.firstName}}</td> 
                            <td>
                                
                                    <button class="view-more " [routerLink]="data.roles.includes('ROLE_ADMIN') ? ['/admin/compterendu', candidate.id] : ['/compterendu', candidate.id]">
                                        <span>Voir plus</span>
                                    </button>
                                
                            </td>
                        </tr>
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->
