<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Suivi des entretien</h1>
   

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{typePoste}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom & Prenom</th>
                            <th>date d'entretien</th>
                            <th>feedback</th>
                            <th>commentaire RH</th>
                            <th>Recruteur</th>
                            <th>voir Plus</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-primary">validé RH</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-secondary">pas encore</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-danger">Non validé RH</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-info">validé tech</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-danger">Non validé tech</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Chakib BOUCHEMLA</td>
                            <td>6/7/2023</td>
                            <td><span class="badge badge-pill badge-success">Recruté</span></td>
                            <td>Profil moyen, nul en anglais </td>
                            <td>Sawssen HASSAYOUNE</td>
                            
                            <td>
                                <button class="view-more ">
                                    <span>Voir plus</span>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->
