<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Suivi des entretien</h1>
   

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{typePost}}</h6>
        </div>
        <div class="card-body">
            <div class="form-group row justify-content-end mr-1">                 
                <label for="Search" class="col-form-label control-label mr-1">Search</label>
                <div class="col-ato">
                <input #InputRef type="text" (input)="getIput(InputRef.value)" class="form-control" placeholder="Search" >
              </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered display"  width="100%" cellspacing="0">
                    <thead>   
                        <tr>
                            <th>Nom & Prenom</th>
                            <th>date d'entretien</th>
                            <th>feedback</th>
                            <th>commentaire RH</th>
                            <th>Recruteur</th>
                            <th>voir Plus</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let entretien of listeEntretien">
                            <td>{{entretien.lastName}} {{entretien.firstName}}</td>
                            <td>{{entretien.datecreation}}</td>
                            <td><span class="badge badge-pill " [ngClass]="{
                                'badge-primary': entretien.feedback?.nom === 'Validé RH',
                                'badge-danger': entretien.feedback?.nom === 'Non validé RH' || entretien.feedback?.nom === 'Non validé TECH',
                                'badge-success': entretien.feedback?.nom === 'Recruté',
                                'badge-info': entretien.feedback?.nom === 'Validé TECH',
                                'badge-secondary': entretien.feedback?.nom ==='En coure',
                                'badge-light': entretien.feedback?.nom ==='N\'a pas assisté'
                              }">{{entretien.feedback?.nom}}</span></td>
                            <td>{{entretien.commentaire}}</td>
                            <td>{{entretien.recruteur?.lastName}} {{entretien.recruteur?.firstName}}</td>
                            <td>
                                
                                    <button class="view-more " (click)="goToCompterendu(entretien.id!)">
                                        <span>Voir plus</span>
                                    </button>
                                
                            </td>
                        </tr>
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->
