.btn{
    width: 25%;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}
.btn:hover {
    background-color: #F0782F;
    border-color:  #FDAA24;
   }